<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    {{{_sections.head}}}
</head>
<body>
    <header><img src="/images/logo.png" alt="Meadowlark Travel Logo"></header>
    {{{body}}}
    {{{_sections.jquery}}}
</body>
</html>